<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cars</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <img src="img/car1.jpg" alt="Mugen Honda Fit" width:>
    <img src="img/car2.jpg" alt="Mugen Honda Civic">
    <img src="img/car3.jpg" alt="Mugen Honda Oddyssey">
</body>
</html>