<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cats</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <a href="cuddles"><img src="img/Cuddles.jpg" alt="Cuddles"></a>
        <a href="fuddles"><img src="img/Fuddles.jpg" alt="Fuddles"></a>
        <a href="huddles"><img src="img/Huddles.jpg" alt="Huddles"></a>
</body>
</html>